# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Local development settings
.env
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific files
.DS_Store

# Logs
*.log 